# Miscellaneous
herfagy_v2/*.class
herfagy_v2/*.log
herfagy_v2/*.pyc
herfagy_v2/*.swp
herfagy_v2/.DS_Store
herfagy_v2/.atom/
herfagy_v2/.build/
herfagy_v2/.buildlog/
herfagy_v2/.history
herfagy_v2/.svn/
herfagy_v2/.swiftpm/
herfagy_v2/migrate_working_dir/

# IntelliJ related
herfagy_v2/*.iml
herfagy_v2/*.ipr
herfagy_v2/*.iws
herfagy_v2/.idea/

# The .vscode folder contains launch configuration and tasks
# Uncomment if you don’t want it in git
# herfagy_v2/.vscode/

# Flutter/Dart/Pub related
herfagy_v2/**/doc/api/
herfagy_v2/**/ios/Flutter/.last_build_id
herfagy_v2/.dart_tool/
herfagy_v2/.flutter-plugins
herfagy_v2/.flutter-plugins-dependencies
herfagy_v2/.pub-cache/
herfagy_v2/.pub/
herfagy_v2/build/

# Symbolication related
herfagy_v2/app.*.symbols

# Obfuscation related
herfagy_v2/app.*.map.json

# Android Studio build artifacts
herfagy_v2/android/app/debug
herfagy_v2/android/app/profile
herfagy_v2/android/app/release

# My files
herfagy_v2/.vscode/
